.productCards{
    .cards{
        .productCard{
            .about{
                display: flex;
                flex-direction: column;
                .head{
                    display: flex;
                }
            }
        }
    }
}